body {
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: aliceblue;
	font-family: 'Noto Sans', sans-serif;
}

header > h1 {
	padding: 2rem;
	color: darkgray;
}

i {
	color: aliceblue;
	font-size: 40px;
	padding-top: 1rem;
}

.meas_container {
	background-color: #31d8bd;
}

.row {
	font-size: 30px;
}

.title {
	font-size: 18px;
}

#content {
	height: 120px;
	background-color: rgba(49, 216, 189, 0.6);
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 30px;
	overflow: hidden;
	padding: 0 5px;
	line-height: 40px;
}

.change {
	font-size: 16px;
	height: 10px;
}


#input {
	background-color: #31d8bd;
	width: 100%;
	font-size: 30px;
	padding: 10px;
	color: azure;
}


.keyboard {
	min-height: 250px;
	max-height: 300px;
	background-image: url('images/keyb.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-top: 10px;
}

.restart {
	margin-top: 20px;
	opacity: 0.5;
}

.btn-primary {
	background-color: rgb(0, 255, 213);
	color: black;

}


.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
	background-color: rgba(0, 255, 213,0.9);
color: white;
	cursor: pointer;


}

.scoreDown,
.scoreUp {
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;
}


.scoreDown {
	background-color: lightcoral;
}

.scoreUp {
	background-color: lightskyblue;
	color: black;
}


.modal {
	color: black;
}


.activeWord{
	background-color: darkgray;
	border-radius: 5px;
}

.correctCharacter{
	color: blue;
}

.wrongCharacter {
	color: red;
}

.result{
	font-size: 20px;
}

.form-group>input{
	margin-top: 1rem;
}

button{
		cursor: pointer;
}

